@import '~antd/dist/antd.css';


.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }

  .aboutImg { 
    border-radius: 15px 50px 30px 5px;
    /* border-radius: 25px; */
  }

  .title{
    font-size : 50pt; 
    text-transform : uppercase;
    padding-top:200px;
  }

  .subtitle{
    font-size : 15pt; 
    text-decoration:underline;
  }

  .overview{
    font-size : 50pt;  
    text-transform : uppercase;
    padding-top:300px;
  }

  .tips{
    font-size : 15pt;
    padding-top:30px;
  }

  .accidentImg{
    padding-left:200px;
  }